* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto'
}

header {
    display: flex;
    position: relative;
    width: 90vw;
    height: 54px;
    left: calc(50% - 414px/2);
    top: 0px;
    background: #F0A83E;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

span {

    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
    color: #3C2313;
}

h1 {
    position: absolute;
    width: 67.6px;
    height: 19px;
    left: 92.81px;
    top: 17px;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
    color: #FFFFFF;
}


.cat-logo {
    position: absolute;
    width: 10.56px;
    height: 10px;
    left: 80px;
    top: 21px;
}

.dog-logo {
    position: absolute;
    width: 10.56px;
    height: 10px;
    left: 193px;
    top: 21px;
}

.logo-menu {
    position: absolute;
    right: 10%;
    bottom: 40%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

section {
    display: flex;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    top: 5%;


}

.bg-img {

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

}

.barra {
    display: flex;
    position: absolute;
    margin-left: 12%;
    top: 30%;

}

h2 {
    position: absolute;
    top: 30%;
    width: 256px;
    height: 29px;
    left: 22%;
    padding-top: 2%;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
    text-align: center;
    color: #3C2313;

}

button {
    position: absolute;
    width: 141px;
    height: 49px;
    left: 229px;
    top: 46%;
    background: #F0A83E;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.patas {
    position: absolute;
    width: 90.38px;
    height: 83.95px;
    left: calc(50% - 90.38px/2 + 10.52px);
    top: 470px;
}

h3 {
    
    margin-top: 120%;
    margin-left: 28%;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 47px;
    text-align: center;
    color: #3C2313;
    width: 212.89px;
    height: 93.95px;
    

}
.lista{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    padding-top: 5%;
    line-height: 15px;
    color: #666666;
    text-decoration: none;
    text-align: center;
}
